/*** APP ***/
.app-logo {
  height: 50px;
}

.content {
  background-color: lightgray;
  margin: 24px 0px;
  padding: 12px;
}

.main-container {
  padding: 24px 36px;
}

/*** HEADER ***/

.app-header {
  background-color: gray;
  padding: 12px;
}

/*** ABOUT ***/

.about-container {
  min-height: 200px;
}

/*** SOCIAL MEDIA ***/

/*** PROJECTS ***/

.project-container {
  min-height: 200px;
  width: 29%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
