/*** APP ***/
.app-logo {
  height: 50px;
}

.content {
  background-color: lightgray;
  margin: 24px 0px;
  padding: 12px;
}

.main-container {
  padding: 24px 72px;
}

/*** HEADER ***/

.app-header {
  background-color: gray;
  padding: 12px;
}

/*** ABOUT ***/

.about-container {
  min-height: 200px;
}

/*** SOCIAL MEDIA ***/

/*** PROJECTS ***/

.project-container {
  color: black;
  min-height: 200px;
  text-decoration: none;
  width: 29%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-name {
  width: 50%;
}

.project-about {
  min-height: 64px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 24px;
}

.progress, .tech-stack {
  min-height: 64px;
}

.team-member {
  min-height: 128px
}
